.portfolio-filter {}
ul.filter {color: white; text-transform:none; padding: 0; }
ul.filter li{display: inline-block;padding-right: 25px;padding-left: 25px;position: relative;cursor: pointer; font-size: 14px;}
ul.filter li.active{color: white;}
ul.filter li:last-child{}
ul.filter li:last-child:after{display: none}
ul.filter li {
    background: #f89a3d;
    border-radius: 20px;
    padding: 10px 30px;
    margin: 10px;
    box-shadow: -2px 6px 16px 0 rgba(47, 42, 38, 0.1), 0px 4px 0px 0px rgb(204, 117, 31);
}
}
.all-portfolios {margin-top: -20px;margin-left: 15px}
.single-portfolio {float: left;

width: 277px;}
.image {
  opacity: 1;
  display: block;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  max-width: 100%;

}
.portfolio-filter {
    padding: 30px;
}
#main-inostop .container .all-portfolios .single-portfolio .images-main img {
    opacity: 1;
    display: block;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    width: 100%;
  }
#main-inostop .container .all-portfolios .single-portfolio .images-main .middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #f6a24eb8;
  left: 0;
  top: 0;
}

#main-inostop .container .all-portfolios .single-portfolio .images-main .middle .text {
    text-align: center;
    padding: 45px 0 0 0;
    line-height: 100%;
}
#main-inostop .container .all-portfolios .single-portfolio .images-main .middle .text h3 {
  background-color: transparent;
  font-size: 18px;
  color: white;
  font-weight: 400;
  font-family: Oswald;
  cursor: pointer;
}
#main-inostop .container .all-portfolios .single-portfolio .images-main .middle .text p {
  background-color: transparent;
  font-size: 14px;
  color: white;
  font-weight: 300;
  font-family: lato;
  cursor: pointer;
}
#main-inostop .container .all-portfolios .single-portfolio .images-main .middle .text hr {
  width: 70px;
  border-color: white;
  margin: 0 100px 10px 100px;
}

#main-inostop .container .all-portfolios .single-portfolio .images-main .middle:hover {
  opacity: 1;  
}

#main-inostop .container .all-portfolios .single-portfolio .images-main img:hover {
  opacity: 0.3;  
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background: white;
}

.sticky + .content {
  padding-top: 60px;
}
.navbar-toggle .icon-bar {
  background: black;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
#mainNav .navbar-nav>li.nav-item>a.nav-link.active {
    color: #fff;
    background: #18bc9c;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
  background: transparent;
}
.content-car button {
  font-family: lato;
  color: white;
  font-weight: 300;
  font-size: 24px;
  background: #f89a3d;
  border: none;
  border-radius: 20px;
  padding: 5px 25px;
}
.content-car {
  text-align: center;
  margin: 30px 0 00px 0;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
}
