// Variables

$colorblack: #566065 !default;
$colororange: #f89a3d !default;
$colorwhite: #ffffff !default;
$colorstrong: #282828 !default;
$colorbody: #f6f6f6 !default;
$fontOswald: 'Oswald';
$fontopensans: 'Open Sans';
$fontlato: 'Lato';